# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.ipynb
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
model_cache/
data/
logs/
models/
.idea/
*.bin
*.pt
*.pkl
!/data/
!/logs/
!/model_cache/
!/models/
!/model_play/
!/model_save/
!/output/
!/temp_code/
*.pt
*.pkl
*.pth
*.txt
*.json
!/data/*
!/logs/*
!/model_cache/*
!/model_play/*
!/model_save/*
!/output/*
!/temp_code/*
!/model_cache/
model_cache/


/data/
/logs/
/model_save/
/output/
LRplay.sh
temp_code/hitgen/2023-08-04_231009_GPT_37_37_1e-5Types_ours_log_12_test_GEN_REPORT_TYPE
temp_code/hitgen/2023-08-05_141956_GPTLarge_37_37_1e-5_ours_log_12_test_GEN_REPORT_TYPE
temp_code/hitgen/2023-08-05_150611_Uni_3711train_3711test_ours_log--13epoch
temp_code/hitgen/2023-08-06_182126_BART_Large_37train_37test256_3e-5_ours_log_14_test_GEN_REPORT_TYPE
temp_code/hitgen/2023-08-06_200626_BART_base_37train_37test256_1e-5_ours_log_13_test_GEN_REPORT_TYPE
temp_code/hitgen/2023-08-11_190408_Resp_Psd2_kers_log_14_test_GEN_REPORT_TYPE
temp_code/hitgen/model/bartbase
temp_code/hitgen/model/bartlarge
temp_code/hitgen/model/gptbase
temp_code/hitgen/model/gptlarge
temp_code/hitgen/model/kers
temp_code/hitgen/model/unimind1
temp_code/hitgen/model/c2dpr_our
temp_code/hitgen/model/rag
temp_code/hitgen/model/ragdpr
lora-alpaca/*
wandb/*
temp_code/*